{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
    body {background-color: powderblue;}
    .login{
      margin: 0;
      padding: 10px;
      border-radius: 5px;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
        </style>
<div class='login'>
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
</div>


{% endblock %}