{% extends 'projects/base.html' %}

{% block content %}
<div class="form">
    <h1>Enter search parameters:</h1>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="save btn btn-default" name='get_rest'>Search</button>
        <button type="submit" class="save btn btn-default" name='get_stream'>Get live data</button>   
        <button type="submit" class="save btn btn-default" name='get_full'>TEST</button>   

    </form>
</div>
<script>
        $(function () {
            $('.datetime-input').datetimepicker({
                format:'YYYY-MM-DD HH:mm:ss'
            });
        });
    </script>
{% endblock %}