{% extends 'projects/base.html' %}

{% block content %}
<style> 
.datasets {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
</style>

<h2>{{ project.name }}</h2>
<h3>Опис: </h3>
<p>{{ project.description }}</p>
<a href="{% url 'projects:search' %}"><button type="button" class="btn btn-outline-info">Додати даних</button></a>
<hr>

<h3>Датасети проекту:</h3>
<div class="datasets">
{% for dataset in datasets %}
    <p><a href="{% url 'projects:search_results' data_pk=dataset.pk %}">{{ dataset.filename }}</a><br>
        Кількість повідомлень: {{ dataset.number_of_messages }}<br>
        <a href="{% url 'projects:analyze_words' dataset_pk=dataset.pk %}"><button type="button" class="btn btn-primary">Аналіз</button></a>

    </p>
{% endfor %}
</div>


{% endblock %}