{% extends 'projects/base.html' %}

{% block content %}


<div class="projects">
    <h2>Оберіть проект:</h2>
{% for project in projects %}

    <a href="{% url 'projects:project_home' pk=project.pk %}"><h2>{{ project.name }}</h2></a>
{% endfor %}
</div>
<hr>
<div class="form">
    <h1>Створити новий проект</h1>
    <form method="POST" class="tournament-form">{% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="save btn btn-default" name='create'>Створити</button>

    </form>
</div>
<script>
        $(function () {
            $('.datetime-input').datetimepicker({
                format:'YYYY-MM-DD HH:mm:ss'
            });
        });
    </script>
{% endblock %}