{% extends 'projects/base.html' %}

{% block content %}
<style> 
.datasets {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
</style>

<h2>{{ project.name }}</h2>
<h3>Description: </h3>
<p>{{ project.description }}</p>
<hr>

<h3>Project's datasets:</h3>
<div class="datasets">
{% for dataset in datasets %}
    <p><a href="{% url 'projects:search_results' data_pk=dataset.pk %}">{{ dataset.filename }}<br></a>
        Number of messages: {{ dataset.number_of_messages }}

    </p>
{% endfor %}
</div>


{% endblock %}